.App {
  text-align: center;
 height: 100vh;
 background: linear-gradient(
   to bottom,
 
   #740bde,
   #740bde,
   #740bde,
   #740bde,
   white
 );
}


.container{
 display: flex;
 flex-direction: column;
 gap: 30px;

 


}


.detailsPhone{
 margin-top: -100px;

  
}

.container{

 position: relative;
 font-size: 20px;

 gap: 50px;
  
}



.details {
  
  font-size: 20px;
  
}

.phoneName{
  display: flex;
  justify-content: center;
  gap: 50px;
}
img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.image{
 width: 400px;
 height: 600px;
  
}
table {
  width: 100%;
  border-collapse: collapse;
  
}

th,
td {
  padding: 7px;
  text-align: center;
}

.containerimgName{
  font-size: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

